.childrow {
    border: 1px solid;
    border-radius: 3px;
}
.chart {
    width: 100%;
    min-height: 450px;
}

.slider.slider-horizontal {
    width: 100% !important;
}

.slider-track-high {
    background: red !important;
}

.slider-track-low {
    background: green !important;
}

.slider-selection {
    background: yellow !important;
}